#map {
  height: 620px;
  width: 800px;
  background-image: url(https://static.vecteezy.com/system/resources/previews/013/467/392/non_2x/old-pirate-treasure-map-parchment-paper-vector.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px auto;
  position: relative;
}

#treasure {
  position: absolute;
  display: none;
  left: 120px;
  top: 200px;
  background-image: url(https://www.pngall.com/wp-content/uploads/2/Treasure-Chest.png);
  height: 80px;
  width: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

#tip {
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#start {
  display: none;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px auto;
}